* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255,237,191);
  font-family: 'Times New Roman', Times, serif;
}

Header{
  background-color: rgb(255,202,123);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgb(255,202,123);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
  background: rgb(237, 168, 66);
  border-radius: 100vw;
}

.IconoNavegador{
  padding: 5px;
  align-self: flex-start;
}

.TituloNavegador{
  position: absolute;
  top: 30px;
}

.BasePaginaInicial{
  display: grid;
  width: auto;
  padding: 10px;
  grid-template-columns: 25% 75%;
  height: 620px;
}

.BusquedaInicial{
  padding: 10px;
  max-height: 600px;
  overflow-y: auto;
}

.InformacionInicial{
  max-height: 600px;
  overflow: hidden;
  display: grid;
  width: auto;
  grid-template-rows: 70% 30%;
}

.VistaDelMapa{
  padding: 10px;
  height: 100%;
  width: auto;
}

.Mapa{
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 100%;
  max-height:100% ;
}

.VistaEdificioHorario{
  display: flex;
  padding: 10px;
  column-gap: 10px;
}

.VistaEdificio{
  max-width: 180px;
  flex-grow: 1;
}

.VistaHorario{
  flex-grow: 3;
}

.BarraBoton{
  display: flex;
}

.BotonBusqueda{
  align-self: center;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}