*{
  box-sizing: border-box;
}

.Base{
  display: flex;
  text-align: center;
}

.Informacion-Horario{
  width: 15vw;
  display: flex;
  flex-direction: column;
}

.Horario{
  border-width: 1px;
  border-style: solid;
  height: 50%;
  overflow-x:scroll;
}

.Informacion{
  background-color: aquamarine;
  border-width: 1px;
  border-style: solid;
  height: 50%;
}

.Buscador{
  border-width: 1px;
  overflow-y:scroll;
  border-style: solid;
  width: 15vw;
  height: 100vh;
}

.Mapa{
  width: 70vw;
  height: 100vh;
  overflow: hidden;
}

.MenuDeBusqueda{
  display: flex;
  flex-direction: column;
}

.BarraBoton{
  display: flex;
  align-items: center;
}