.TargetaInformacionEdificio{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.EdificioLink{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 10px;
  align-content: center;
}

.TargetaNombreEdificio{
  text-align: center;
}

.ListaDeSalasEdificio{
  overflow-y: scroll;
  padding: 5px;
  max-height: 147px;
}

.IconEdificio{
  width: 40px;
  position:absolute;
  bottom: 160px;
}