*{
  box-sizing: border-box;
}
.Base{
  display: flex;
  justify-content: center;
  text-align: center;
}

.Horario{
  border-style: solid;
  width: 5vw;
  height: 100vh;
}

.Titulo{
  border-style: solid;
  width: 5vw;
  height: 100vh;
}

.Buscador{
  border-style: solid;
  width: 20vw;
  height: 100vh;
}

.Mapa{
  width: 70vw;
  height: 100vh;
}

.MenuDeBusqueda{
  display: flex;
  flex-direction: column;
}

.BarraBoton{
  display: flex;
  align-items: center;
}